.ourservices {
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
    background: #d7e5ec;
    margin-top: 200px;
}

/* reomed */
.ourservices.rotated-bg:before {
    content: '';
    position: absolute;
    width: 1000px;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 886px;
    left: 10%;
    top: 50%;
    background: #26cdff;
}

.ourservices .sectitle {
    text-align: center;
}

.sectitle {
    position: relative;
    margin-bottom: 20px;
}

.sectitle h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.center {
    text-align: center;
}

.ourservices .sectitle p {
    max-width: 650px;
    margin: 0 auto;
    color: #848484;
    margin-top: 20px;
}

.sectitle h2.center:before {
    position: absolute;
    content: '';
    background: #26cdff;
    width: 50px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}

.ourservices .clearfix {
    margin-top: 66px;
}

.singleserviceitem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 26px;
    /* position: relative; */
    padding: 38px;
    background: #fff;
    /* text-align: center; */
    /* box-shadow: 0 0 35px rgba(0, 0, 0, .1); */
    /* -webkit-transition: .5s; */
    /* transition: .5s; */
    border: 2px solid #eee;
}

.result {
    background-color: white;
    color: black;
    width: 150px;
}

.singleserviceitem:hover {
    border-color: #26cdff;
    -webkit-transition: .5s;
    transition: .5s;
}

/* .ourservices .singleserviceitem  {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.ourservices .singleserviceitem .serviceicon img {
    max-width: 64px;
} */

.servicetext {
    overflow: hidden;
}

.servicetext h4 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}

.servicetext p {
    color: #777777;
    font-size: 14px;
    line-height: 22px;
}

.servicetext h4 a {
    color: #222222;
    transition: .5s;
}

.servicetext h4 a:hover {
    color: #26cdff;
    transition: .5s;
    text-decoration: none;
}