.ourservices {
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
    background: #d7e5ec;
    margin-top: 200px;
    width: 90%;
}

.contener {
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;


}

.inner {
    font-size: 20px;
    text-align: center;
    color: black
}

.img {
    border-radius: 12px;
}

/* <section className={styles.ourservices}>
        <div className={styles.contener}>
          <div className={styles.inner}>
            <img src="" />
            <p></p>
          </div>
        </div>
      </section> */